@tailwind base;
@tailwind components;
@tailwind utilities;

.blinking-cursor::after { 
    content: '▋'; 
    animation: blink 1s step-end infinite; 
} 

@keyframes blink { 
    50% { 
        opacity: 0; 
    } 
}
